.jumbotron > img, #mainContent > img
{
    max-width: 20%;
    max-height: 100%
}

.card-img-top{
    height: 100%
}

.row.text-center.border.rounded
{
    margin-bottom: 15px;
}

.card-header
{
    background-color: #001E62;
    color: #FFFFFF;
}

#mainContent > .row
{
    height: 50%
}

@media (min-width: 200px)
{
    h3
    {
        font-size: 2em;
        text-align: center;
    }
    h4
    {
        font-size: 1.5em;
        font-weight: bolder;
    }
    p
    {
        font-size: 1.25em
    }
}

/* #questions
{
    max-height: 70%;
    overflow: auto
} */

.socialIcons
{
    display: inline-block;
}

.fa-green
{
    color: green
}

.fa-red
{
    color: red
}

.fa-orange
{
    color: orange
}

.fa-yellow
{
    color: yellow
}

.btnpolicyno
{
    background-color: red;

}

.btnpolicyyes
{
    background-color: green;
    color: #fff;

}

.policybox{
    max-height: 60%;
    max-width: auto;
    border:2px solid #ccc;

    overflow: auto;
}

body{
    background: linear-gradient(to bottom, #ffffff 0%, #98a4ae 100%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Slabo 27px', serif;
}

#intro{
    font-family: 'Roboto Slab', sans-serif;
}

.seethrough{
    background-color: transparent;
}

.bordering {
    border-style: solid;
    border-width:5px;
    border-radius: 80px;
}

<<<<<<< HEAD
.picadjust{

    max-height: 30px;
    width: auto;
    max-width: 30px
=======
.social{
    height:64px;
    width:64px;
>>>>>>> 7ab73f61f0c117403a88fddb8ff0ae34cc39b497
}
