.jumbotron > img, #mainContent > img
{
    max-width: 20%;
    max-height: 100%
}

.card-img-top{
    height: 100%
}

.row.text-center
{
    margin-bottom: 3px;
    padding: 10px;
}

#questions
{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
}

#mainContent
{
    height: 50%
}

@media (min-width: 200px)
{
    h3
    {
        font-size: 2em;
        text-align: center;
    }
    h4
    {
        font-size: 1.5em;
        font-weight: bolder;
    }
    p
    {
        font-size: 1.25em
    }
}

/* #questions
{
    max-height: 70%;
    overflow: auto
} */

.socialIcons
{
    display: inline-block;
}

.fa-green
{
    color: green
}

.fa-red
{
    color: red
}

.fa-orange
{
    color: orange
}

.fa-yellow
{
    color: yellow
}

.btnpolicyno
{
    background-color: red!important;
    color: #fff!important;
}

.btnpolicyyes
{
    background-color: green!important;
    color: #fff!important;

}

.policybox{
    max-height: 60%;
    max-width: auto;
    border:2px solid #ccc;

    overflow: auto;
}

body{
    background: linear-gradient(to bottom, #ffffff 0%, #98a4ae 100%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Slabo 27px', serif;
}

#intro{
    font-family: 'Roboto Slab', sans-serif;
}

.seethrough{
    background-color: transparent;
}

.bordering {
    border-style: solid;
    border-width:5px;
    border-radius: 80px;
}

.social{
    height:64px;
    width:64px;
}

.bottom-border
{
    border-bottom: 1px solid #d3d3d3;

}

.bottom-border:last-of-type
{
    border-bottom: 0px;
}


.card-header
{
    background-color: #001E62;
    color: #FFFFFF;
}
