.jumbotron > img, #mainContent > img
{
    max-width: 20%;
    max-height: 100%
}

.card-img-top{
    height: 80%
}

.row.text-center.border.rounded
{
    margin-bottom: 15px;
}

#mainContent > .row
{
    height: 50%
}

@media (min-width: 200px)
{
    h3
    {
        font-size: 2em;
        text-align: center;
    }
    h4
    {
        font-size: 1.5em;
        font-weight: bolder;
    }
    p
    {
        font-size: 1.25em
    }
}

/* #questions
{
    max-height: 70%;
    overflow: auto
} */

.socialIcons
{
    display: inline-block;
}

.fa-green
{
    color: green
}

.fa-red
{
    color: red
}

.fa-orange
{
    color: orange
}

.fa-yellow
{
    color: yellow
}

.btnpolicyno
{
    background-color: red;

}

.btnpolicyyes
{
    background-color: green;
    color: #fff;

}

.policybox{
    height: ;
    max-height: 60%;
    border:2px solid #ccc;

    overflow:auto;
}

body{
    background: linear-gradient(to bottom, #ffffff 0%, #98a4ae 100%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Slabo 27px', serif;
}

#intro{
    font-family: 'Roboto Slab', sans-serif;
}

.seethrough{
    background-color: transparent;
}

