.jumbotron > img, #mainContent > img
{
    max-width: 20%;
    max-height: 100%
}

.card-img-top{
    height: 80%
}

.row.text-center.border.rounded
{
    margin-bottom: 15px;
}

#mainContent > .row
{
    height: 50%
}

@media (min-width: 200px)
{
    h3
    {
        font-size: 2em;
        text-align: center;
    }
    h4
    {
        font-size: 1.5em;
        font-weight: bolder;
    }
    p
    {
        font-size: 1.25em
    }
}

/* #questions
{
    max-height: 70%;
    overflow: auto
} */

.socialIcons
{
    display: inline-block;
}

.fa-green
{
    color: green
}

.fa-red
{
    color: red
}

.fa-orange
{
    color: orange
}

.fa-yellow
{
    color: yellow
}

.btnpolicyno
{
    color: red

}

.btnpolicyyes
{
    color: green

}

.policybox{
    height: 500px;
    max-height: 100%;
    width:80%;
    border:2px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
}

